<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
      <header>
        <nav>
            <header>
                <nav>
                  <ul>
                  {% if user is authenticated %}
                  {% else %}
                  <li><a href="{% url 'signup' %}">Sign up</a></li>
                  {% endif %}
                  </ul>
                </nav>
              </header>
        <div>
            <h1>Login</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Login</button>
        </form>
        </div>
      </main>
</body>
</html>